<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volianskyi.taras.a121017_ecommerceforandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitis.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitis.CatalogActivity" />

        <provider
            android:name=".database.MyContentProvider"
            android:authorities="com.volianskyi.taras.ecommerce.provider"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activitis.admin.AdminMainActivity" />
        <activity
            android:name=".activitis.admin.AdminUsersActivity"
            android:label="@string/title_activity_admin_users"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activitis.admin.AdminAddUsersActivity" />
        <activity android:name=".activitis.admin.AdminUpdateUsersActivity" />
        <activity
            android:name=".activitis.admin.AdminProductsActivity"
            android:label="@string/title_activity_admin_products"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activitis.admin.AdminAddProductsActivity" />
        <activity android:name=".activitis.admin.AdminUpdateProductsActivity" />
        <activity android:name=".activitis.CatalogCategoriesActivity" />
        <activity
            android:name=".activitis.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activitis.ContactDetailsActivity"></activity>
    </application>

</manifest>